version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:latest

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: npm install
      - run: npm run clean
      - run: npm run build
      - run: npm run deploy
